.hour-select button {
  width: 5rem;
  height: 4rem;
  border: none;
  transition: background-color 1s;
}

.hour-select button:hover {
  background-color: pink;
}

.datepicker-mine {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0 5px;

  position: relative;
  display: inline-block;
}

.form-container {
  text-align: center;
}


.calendar-container.show {
  display: none;
}
